numpy~=1.26.4
resampy==0.2.2
scikit_image==0.19.2
librosa==0.9.1
lightning~=2.4.0
nltk~=3.9.1
packaging~=24.1
pandas~=2.2.2
pydub==0.25.1
simplejson~=3.19.3
torch==2.3.0
torchaudio==2.3.0
torchmetrics~=1.4.1
torchtext==0.18.0
tqdm~=4.66.5
tornado>=6.1
transformers~=4.44.2
yt_dlp==2023.11.16
importlib-resources>=1.4
httpx~=0.27.2
psutil==6.0.0
pexpect==4.8.0
websocket-client==1.8.0
cinnamon~=1.0
scikit-image~=0.19.2
setuptools~=59.6.0